@model BlogDetailVM
@{
    ViewData["Title"] = "Detail";
}
<style>
    .comment-section {
        margin-top: -3px;
    }

        .comment-section h5 {
            line-height: 1;
            padding-bottom: 15px;
        }

        .comment-section ul li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 10px 20px;
            margin-bottom: 30px;
            border: 1px solid #e5e5e5;
        }

            .comment-section ul li:last-child {
                margin-bottom: 5px;
            }

            .comment-section ul li .author-avatar {
                -ms-flex-preferred-size: 66px;
                flex-basis: 66px;
                max-height: 62px;
                margin-right: 10px;
            }

            .comment-section ul li.comment-children {
                margin-left: 40px;
            }

            .comment-section ul li .comment-body {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            }

                .comment-section ul li .comment-body h5 {
                    font-size: 14px;
                    padding-bottom: 5px;
                    font-family: "Open Sans", sans-serif;
                }

                .comment-section ul li .comment-body .comment-post-date {
                    font-size: 13px;
                    padding-bottom: 10px;
                }

                .comment-section ul li .comment-body .reply-btn {
                    float: right;
                }

                    .comment-section ul li .comment-body .reply-btn a {
                        color: #333333;
                        font-size: 12px;
                        display: inline-block;
                        padding: 4px 15px;
                        border-radius: 20px;
                        text-transform: capitalize;
                        border: 1px solid #e5e5e5;
                    }

                        .comment-section ul li .comment-body .reply-btn a:hover {
                            color: #fff;
                            border-color: #e3a51e;
                            background-color: #e3a51e;
                        }
</style>

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-img">
                        <img src="~/img/blog/@Model.Blog.ImageUrl" width="100%" alt="blog-details">
                    </div>
                    <div class="blog-details-content">
                        <h2>@Model.Blog.Title </h2>
                        <h6>@Model.Blog.AuthorName  /  @Model.Blog.CreatedDate.ToString("MMMM d, yyyy")  /  <i class="fa fa-comments-o"></i> 4</h6>
                        <p>@Model.Blog.Desc</p>
                    </div>


                    <div class="comment-section section-padding">
                        <h5>@Model.Blog.Comments.Count Comment</h5>


                        <ul>
                            @foreach (var item in Model.Blog.Comments)
                            {
                                <li>

                                    <div class="comment-body">
                                        @if (item.AppUserId == ViewBag.UserId)
                                        {
                                            <span class="reply-btn"><a asp-action="deleteComment" asp-route-id="@item.Id">Delete</a></span>
                                        }
                                        <h5 class="comment-author">@item.AppUser.Fullname</h5>
                                        <div class="comment-post-date">
                                            @item.CreatedDate.ToString("MM/dd/yyyy")
                                        </div>
                                        <p>
                                            @item.Message
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>






                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>Email address will not be published</p>
                        <form id="contact-form" asp-controller="blog" asp-action="addComment" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="blogId" value="@Model.Blog.Id" />
                                    <p>Comment</p>
                                    <textarea name="commentMessage" id="message" cols="15" rows="6" placeholder="Write a Comment"></textarea>
                                </div>
                            </div>
                            <input class="reply-btn" type="submit" name="submit" value="POST COMMENT">
                        </form>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-47">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>categories</h3>
                        <ul>
                            @foreach (var item in Model.Categories)
                            {
                                <li><a asp-controller="courses" asp-action="index">@item.Name (@item.Courses.Count)</a></li>
                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <div class="single-blog-banner">
                            <a asp-controller="blog" asp-action="index" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>latest post</h3>
                        @foreach (var item in Model.SideBlogs)
                        {
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id">
                                        <img src="~/img/blog/@item.ImageUrl" alt="post" width="95" height="84">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a asp-controller="course" asp-action="detail" asp-route-id="@item.Id">English Language Course for you</a></h4>
                                    <p>@item.AuthorName  /  @item.CreatedDate.ToString("MMMM d, YYYY")</p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a asp-controller="courses" asp-action="index" class="mr-10 mb-10">course</a>
                            <a asp-controller="home" asp-action="index" class="mr-10 mb-10">education</a>
                            <a asp-controller="teacher" asp-action="index" class="mb-10">teachers</a>
                            <a asp-controller="courses" asp-action="index" class="mr-10">learning</a>
                            <a asp-controller="home" asp-action="index" class="mr-10">university</a>
                            <a asp-controller="event" asp-action="index">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->